<html lang="ru_RU">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="file:///{root_path}templates/style.css">
    <style type="text/css">
        .bg{
            background-image: url("file:///{root_path}data/dark.jpg");
        }
        h1{
            color: white;
            font-family: 'Viaoda Libre', cursive;
        }
    </style>
</head>
<body>
    <div class="bg"></div>
    <div class="wrapper">
        <h1>{title}</h1>
    </div>
</body>
</html>
